@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
body{
  font-family: 'Roboto', sans-serif;
  /*background-color: #f8f8f8;*/
  background-color: #858484;
}
li{
  list-style-type: none;
}
.container{
  max-width: 85%;
  margin: auto;
}

.flexSB{
  display: flex;
  justify-content: space-between;
}
.icon{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255,255, 0.3);
  transition: 0.5s;
}
.icon:hover{
  cursor: pointer;
  background-color: #1eb2a6;
  color: #fff;
}
button{
  border: none;
}

